* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

:root {
    --white: #fff;
    --gray: #333;
    --golden: rgb(141, 115, 42);
    --gray-light:rgb(83, 82, 82);
    --blue-light: #3590d2;    
}

body {
    /* background-image: linear-gradient(to top, #09203f 0%, #537895 100%);  */
    background-color: #330033;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");    
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    background-color: var(--white);
    margin: 50px;
    box-shadow: 0 50px 75px rgba(0, 0, 0, 0.1);
    border-left: 50px solid var(--white);   
    border-right: 50px solid var(--white);
}

.container .top {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 40px;
    padding-bottom: 0;
}

.container .top .imgBx {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.container .top .imgBx .box {
    position: relative;
    width: 70%;
    min-width: 200px;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1;
}

.container .top .imgBx .box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .top .profileText {
    position: relative;
    padding: 40px;
    display: flex;
    align-items: center;
}

.container .top .profileText h3 {
    font-size: 3em;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    font-weight: 600;
}

.container .contentBox {
    position: relative;
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    /* padding: 0 40px 40px; */
}

.container .contentBox h3{
    border-bottom: 2px solid var(--gray-light);
    line-height: 1em;
    font-weight: 600;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    margin-top: 50px;
    width: 100%;
}

.container .contentBox h3 i{
    color: var(--golden);
}

.container .contentBox .leftSide ul i{
    font-size: 1.2em;
    margin-right: 10px;
    color: var(--blue-light);
}

.container .contentBox ul {
    position: relative;
    margin: 10px 0;
}

.container .contentBox ul li {
    list-style: none;
    line-height: 1em;
    color: var(--gray);
    cursor: pointer;
    display: flex;
}
.contentBox .leftSide .contacto li{
    padding: 10px;
}
.contentBox .leftSide .sobreMi{
    color: var(--gray);
    display: flex;
    flex-wrap: wrap;
    justify-content: justify;
}

.contentBox .leftSide .referencias span{
    color: var(--gray);
    display: flex;
    flex-wrap: wrap;
    justify-content: justify;
    margin-top: 25px;
}

h4{
    font-weight: 500;
    margin: 5px 0;
}

.intereses{
    font-size: 40px;
}

.intereses li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 15px;
}

.container .contentBox .rightSide{
    border-left: 2px solid var(--gray-light);
    margin-left: 10px;
    padding-left: 10px;
}

.container .contentBox .rightSide .exp{
    display: flex;
    justify-content: space-between;
    color: var(--gray);
    margin-bottom: 20px;
}

.container .contentBox .rightSide .expWork h4{
    margin-top: 20px;
    margin-left: 20px;
}
.container .contentBox .rightSide .expWork P{
    color: var(--gray);
    margin-top: 20px;
    margin-left: 20px;
}

.container .contentBox .rightSide .expWork i{
    color: var(--golden);
}

.habilidades .box{
    display: flex;
    justify-content: space-between;
    position: relative;
    min-width: 130px;
    overflow: hidden;
    aspect-ratio: 1;
    align-content: center;
}

.habilidades .box .percent {
    position: relative;
    width: 80%;
    height: 15px;
    background: var(--gray);
    top: 90px;
}

.habilidades .box .percent div{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    background: var(--golden);
}

.habilidades .box img {
    position: absolute;
    top: 0;
    width: 50%;
    height: 50%;
    object-fit: cover;
    filter: brightness(1.1);
    mix-blend-mode: multiply;
}
.habilidades li{
    gap: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}


/* RESPONSIVE */

@media screen and (max-width:900px){
    .container .contentBox{
        display: flex;
        flex-direction: column;
    }

    .container .contentBox .rightSide{
        border-left: none;
    }

}